body{
    grid-template-columns: repeat(6, max-content);
    display: grid;
    grid-template-rows: 500px;
    grid-gap: 20px;
}

.text{
    padding-top: 500px;
    padding-left: 15px;
}

.image{
    display: grid;
    grid-template-rows: auto;
    height: 600;
    width: 80;
    border-radius: 50px;
    text-align: left;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0);
    transition: width 2s, color 2s;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
}
#papa{
    background-image: url(Papa.jpg);
}
#mummy{
    background-image: url(mummy.jpg);
}
#me{
    background-image: url(me.jpeg);
}
#sham{
    background-image: url(shambhavi.jpg);
}
#dhruv{
    background-image: url(dhruvika.jpg);
}
#kuku{
    background-image: url(avneesh.jpg);
}

.image:hover{
    width: 750;
    background-position: top;
    color: white; 
}

